.expenseItem {
  background-color: #E7E7E7;
  padding: 1em;
  display: flex;
  align-items: center;
  border-radius: 8px;

  &:not(:last-of-type) {
    margin-bottom: .8em;
  }
}

.title {
  margin: 0;
}

.amount {
  margin: 0;
}

.category {
  margin: 0;
}

.iconWrapper {
  background: #2A5584;
  color: #fff;
  border-radius: 8px;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 70%;
  padding: 0 1.4em;
}
