@font-face {
  font-family: 'RopaSans';
  src: url('/src/assets/fonts/RopaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RopaSans Italic';
  src: url('/src/assets/fonts/RopaSans-Regular.ttf') format('truetype');
}
body {
  margin: 0;
  padding: 0 25em;
}

* {
  font-family: 'RopaSans', sans-serif;
}
